.hero-img {
    position: absolute;
}

/* Match positioning of the container */
.main {
    position: relative;
    top: 200px;
}

/* Custom colours for the search button */
.btn-search {
    background-color: #7baedd;
    border-color: #7baedd;
    color: #fff;
}

/* Colour change to the border of search input */
#search {
    border-color: rgba(0, 0, 0, 0.2);
}

/* Primary highlight colour */
.primary-hl-color {
    color: #7baedd;
}

/* Smaller font size */
#reset-button,
.pagination,
.sorting {
    font-size: 0.8rem;
}

/* Custom width for pagination */
.page-buttons {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: none;
}

/* Custom width for job count circle */
.categories-jobs-number {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #eeeee4;
    text-align: center;
    font-size: 0.9rem;
}

.view-button:hover {
    background-color: #1e81b0;
    color: #fff;
}

.secondary-button-color {
    background-color: #063970;
    color: #fff;
}

/* Keep job details evenly spaced from its icons */
.width-jobs-icons {
    width: 30px;
}

/* Custom sizes for aesthetics */
.normal-size {
    font-size: 1.2rem;
}

.large-size {
    font-size: 2rem;
}

/* Back icon style */
.back-button {
    cursor: pointer;
    color: lightblue;
}

.back-button:hover {
    background-color: #fff;
    color: #1e81b0;
}

/* font-weight bold */
.bold {
    font-weight: 700;
}

.bold-m {
    font-weight: 500;
}

/* filter section - left column */
.filter-section {
    height: fit-content;
}
