.hero-img {
    position: absolute;
}

/* Match positioning of the container */
.main {
    position: relative;
    top: 200px;
}

/* Custom colours for the search button */
.btn-search {
    background-color: #7baedd;
    border-color: #7baedd;
    color: #fff;
}

/* Colour change to the border of search input */
#search {
    border-color: rgba(0, 0, 0, 0.2);
}

/* Primary highlight colour */
.primary-hl-color {
    color: #7baedd;
}

/* Smaller font size */
#reset-button,
.pagination,
.sorting {
    font-size: 0.8rem;
}

/* custom width for pagination */
.page-buttons {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: none;
}

/* custom width for job count circle */
.categories-jobs-number {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #eeeee4;
    text-align: center;
}
