<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="vendors/fontawesome-free-6.3.0-web/css/all.css"
        />
        <link
            rel="stylesheet"
            href="vendors/bootstrap-5.3.0-alpha2-dist/css/bootstrap.css"
        />
        <link rel="stylesheet" href="css/style.css" />
        <title>Job Search</title>
    </head>
    <body>
        <div id="app">
            <!-- Background image -->
            <div
                class="bg-image hero-img"
                :style="{ backgroundImage: 'url(images/2.jpg)', height: 'auto', width: '100%', borderBottomRightRadius: '50% 10%', borderBottomLeftRadius: '50% 10%', minHeight: jobDetailsImgHeight }"
            ></div>
            <!-- Background image -->

            <!-- Main container -->
            <div class="container main">
                <!-- Search bar -->
                <div class="shadow bg-white p-3 rounded-3 search-div">
                    <label class="d-flex ps-1 pb-1" for="search">Search</label>
                    <div class="input-button d-flex justify-content-start">
                        <input
                            class="me-2 rounded-4 ps-3 col-9 col-lg-10 col-sm-9"
                            id="search"
                            type="text"
                            placeholder="job title"
                        />
                        <button
                            class="btn btn-primary btn-search text-white btn-sm rounded-4 pe-4 ps-4 col-lg-2"
                            id="search-button"
                        >
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
                <!-- Search bar -->

                <!-- Main section -->
                <div class="main-section d-flex justify-content-center mt-3">
                    <!-- Total jobs -->
                    <div
                        class="filter-section shadow bg-white p-3 rounded-3 col-lg-3"
                    >
                        <div class="number-jobs">
                            <h5>
                                <span class="primary-hl-color"></span>
                                Jobs found
                            </h5>
                            <button
                                class="btn primary-hl-color"
                                id="reset-button"
                            >
                                <i class="fa fa-rotate"></i> Reset Search
                            </button>
                        </div>
                    </div>
                    <!-- Total jobs -->

                    <!-- Categories -->
                    <div class="row categories">
                        <div class="col">
                            <label class="form-check">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                />
                                <span
                                    class="form-check-label d-flex justify-content-between"
                                >
                                    <div class="categories-jobs-number"></div
                                ></span>
                            </label>
                        </div>
                    </div>
                    <!-- Categories -->
                    <div class="jobs-section m-2 col-lg-9">
                        <div class="header d-flex justify-content-between mb-3">
                            <!-- Current Page -->
                            <div class="current-page">
                                <div class="pagination">
                                    <span> 1 >Page of </span>
                                </div>
                            </div>
                            <div class="sorting">
                                Sort by:
                                <select v-model="selectedSortOption">
                                    <option>Highest Salary</option>
                                    <option>Date</option>
                                </select>
                            </div>
                        </div>
                        <!-- Job listings -->
                        <div class="jobs-content">
                            <ul>
                                <li
                                    class="shadow bg-white p-3 rounded-3 mb-3"
                                    v-for="job in jobsData"
                                >
                                    {{job}}
                                </li>
                            </ul>
                        </div>
                        <!-- Job listings -->
                    </div>
                </div>
                <!-- Main section -->
            </div>
            <!-- Main container -->
        </div>
        <script src="vendors/vue.global.js"></script>
        <script src="vendors/bootstrap-5.3.0-alpha2-dist/js/bootstrap.js"></script>
        <script src="js/style.js"></script>
        <script type="module" src="js/app.js"></script>
    </body>
</html>
