<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
        <link
            rel="stylesheet"
            href="vendors/fontawesome-free-6.3.0-web/css/all.css"
        />
        <link
            rel="stylesheet"
            href="vendors/bootstrap-5.3.0-alpha2-dist/css/bootstrap.css"
        />
        <link rel="stylesheet" href="css/style.css" />
        <title>Job Search</title>
    </head>
    <body>
        <div id="app">
            <!-- Background image -->
            <div
                id="hero-image"
                class="bg-image hero-img text-white d-flex justify-content-center align-items-center large-size"
                :style="{ backgroundImage: 'url(images/2.jpg)', height: 'auto', width: '100%', borderBottomRightRadius: '50% 10%', borderBottomLeftRadius: '50% 10%', minHeight: jobDetailsImgHeight, backgroundColor: 'rgba(0,0,0,0.6)', backgroundSize: '100% auto' }"
            >
                <div
                    class="overlay"
                    style="
                        background-color: rgba(9, 91, 132, 0.723);
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        border-bottom-right-radius: 50% 10%;
                        border-bottom-left-radius: 50% 10%;
                    "
                ></div>

                <h1 id="job-search-text" style="z-index: 5">
                    Job&nbsp;<span v-if="jobSearchPage">Search</span
                    ><span v-if="goBackButton">Details</span>
                </h1>
            </div>
            <!-- Background image -->

            <!-- Main container -->
            <div class="container main">
                <!-- Search bar -->
                <div
                    class="shadow bg-white p-3 rounded-3 search-div"
                    v-if="jobSearchPage"
                >
                    <label class="d-flex ps-1 pb-1 bold" for="search"
                        >Search</label
                    >
                    <div class="input-button d-flex justify-content-start">
                        <input
                            class="me-2 rounded-4 ps-3 col-9 col-lg-10 col-sm-9"
                            id="search"
                            type="text"
                            placeholder="Job Title"
                            v-model="searchQuery"
                            @input="updatePage"
                        />
                        <button
                            class="btn btn-primary btn-search text-white btn-sm rounded-4 pe-4 ps-4 col-lg-2"
                            id="search-button"
                        >
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
                <!-- Search bar -->

                <!-- Main section -->
                <div
                    class="main-section d-flex flex-md-row flex-column justify-content-center mt-3"
                >
                    <!-- Total jobs -->
                    <div
                        class="filter-section shadow bg-white pt-2 rounded-3 col-lg-3"
                        v-if="jobSearchPage"
                    >
                        <div class="number-jobs text-center">
                            <h5>
                                <span class="primary-hl-color"
                                    >{{sortedJobs.length}}</span
                                >
                                Jobs found
                            </h5>
                            <button
                                class="btn primary-hl-color"
                                id="reset-button"
                                @click="reset"
                            >
                                <i class="fa fa-rotate"></i> Reset Search
                            </button>
                        </div>

                        <!-- Category button -->
                        <button
                            class="category-toggle-btn w-100 border-0 d-flex justify-content-between p-3 mt-2 primary-hl-color border-top border-bottom align-items-center bold-m"
                            @click="showAllCategories = !showAllCategories"
                        >
                            Category <i class="fa fa-angle-down"></i>
                        </button>
                        <!-- Category button -->

                        <!-- Categories -->
                        <div
                            class="row categories m-3"
                            v-show="showAllCategories"
                        >
                            <div class="col">
                                <label
                                    v-for="category in categories"
                                    class="form-check"
                                >
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        :value="category"
                                        v-model="selectedCategories"
                                        @change="updatePage"
                                    />
                                    <span
                                        class="form-check-label d-flex justify-content-between align-items-center"
                                        >{{category}}
                                        <div class="categories-jobs-number">
                                            {{jobsPerCategory[category]}}
                                        </div></span
                                    >
                                </label>
                            </div>
                        </div>
                        <!-- Categories -->
                    </div>
                    <!-- Total jobs -->

                    <div class="jobs-section m-2 col-lg-9">
                        <div
                            class="header d-flex justify-content-between mb-3"
                            v-if="jobSearchPage"
                        >
                            <!-- Current Page -->
                            <div class="current-page">
                                <div class="pagination">
                                    <span>
                                        Page
                                        <span class="bold"
                                            >{{currentPage}}</span
                                        >
                                        of
                                        <span class="bold"
                                            >{{totalPages}}</span
                                        ></span
                                    >
                                </div>
                            </div>
                            <div class="sorting">
                                Sort by:
                                <select
                                    class="shadow bg-white p-1 rounded-3 border-0"
                                    v-model="selectedSortOption"
                                >
                                    <option value="salary_to">
                                        Highest Salary
                                    </option>
                                    <option value="posted_date">Date</option>
                                </select>
                            </div>
                        </div>
                        <!-- Job listings -->
                        <div class="jobs-content">
                            <div v-if="goBackButton" class="mb-3 sorting">
                                <span class="bold"
                                    >Job Search&nbsp;&nbsp;>&nbsp;&nbsp;</span
                                >Job Details
                            </div>
                            <ul class="list-unstyled">
                                <!-- Individual job listing -->
                                <li
                                    class="shadow bg-white p-3 rounded-3 mb-3"
                                    v-for="(job, index) in paginatedJobs"
                                    :class="{'d-none': selectedJobIndex !== -1 && selectedJobIndex !== index }"
                                >
                                    <i
                                        class="fa fa-circle-arrow-left large-size mb-3 back-button"
                                        v-if="goBackButton"
                                        @click="selectedJobIndex = -1; goBackButton = false; jobSearchPage = true; increaseImgHeight()"
                                    ></i>

                                    <h2>{{job.job_title}}</h2>
                                    <h4 class="job-id normal-size mt-3">
                                        <i
                                            class="fa fa-circle-info primary-hl-color width-jobs-icons"
                                        ></i>
                                        {{(getIndexInJobsData(index)+1)*133}}
                                    </h4>
                                    <h4 class="location normal-size">
                                        <i
                                            class="fa fa-location-dot primary-hl-color width-jobs-icons"
                                        ></i>
                                        {{job.location}}
                                    </h4>
                                    <h4 class="pound normal-size">
                                        <i
                                            class="fa fa-sterling-sign primary-hl-color width-jobs-icons"
                                        ></i>
                                        {{job.salary_from}} - {{job.salary_to}}
                                    </h4>
                                    <h4 class="clock normal-size">
                                        <i
                                            class="fa fa-clock primary-hl-color width-jobs-icons"
                                        ></i>
                                        Posted {{numDaysAgo(job.posted_date)}}
                                        days ago
                                    </h4>
                                    <div
                                        class="category-card rounded-4 border d-inline-block mt-2 mb-3 p-1 ps-3 pe-3 primary-hl-color"
                                    >
                                        <i class="fa fa-list"></i>
                                        {{job.category}}
                                    </div>
                                    <div>
                                        <button
                                            class="btn secondary-button-color w-100 rounded-4 view-button"
                                            v-if="jobSearchPage"
                                            @click="selectedJobIndex = index; goBackButton = true; jobSearchPage = false; decreaseImgHeight()"
                                        >
                                            View
                                        </button>
                                    </div>
                                </li>
                                <!-- Individual job listing -->
                            </ul>
                        </div>
                        <!-- Job listings -->

                        <!-- Mock Job Details -->
                        <div
                            class="job-details shadow bg-white p-3 rounded-3 mb-3"
                            v-if="goBackButton"
                        >
                            <h2>Job Details</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Corporis eaque exercitationem,
                                minima officiis et ipsam maxime sit. Assumenda
                                molestiae quos harum, mollitia dolorum nostrum
                                sunt eveniet alias qui neque et incidunt quas
                                vel laboriosam inventore cumque ipsa repudiandae
                                hic aliquid ducimus, corrupti dolor
                                reprehenderit quis! Ad tempore nihil quo
                                pariatur?
                            </p>
                            <h6 class="font-weight-bold">
                                Key Responsibilities
                            </h6>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Cumque, aliquam?
                                </li>
                                <li>
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Voluptate sint nemo
                                    perspiciatis rem rerum maxime?
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Nam iusto quibusdam quia.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Cumque, aliquam?
                                </li>
                                <li>
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Voluptate sint nemo
                                    perspiciatis rem rerum maxime?
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Nam iusto quibusdam quia.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Cumque, aliquam?
                                </li>
                                <li>
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Voluptate sint nemo
                                    perspiciatis rem rerum maxime?
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Nam iusto quibusdam quia.
                                </li>
                            </ul>
                            <h6 class="font-weight-bold">Requirements</h6>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Cumque, aliquam?
                                </li>
                                <li>
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Voluptate sint nemo
                                    perspiciatis rem rerum maxime?
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Nam iusto quibusdam quia.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Cumque, aliquam?
                                </li>
                                <li>
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Voluptate sint nemo
                                    perspiciatis rem rerum maxime?
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Nam iusto quibusdam quia.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Cumque, aliquam?
                                </li>
                                <li>
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Voluptate sint nemo
                                    perspiciatis rem rerum maxime?
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Nam iusto quibusdam quia.
                                </li>
                            </ul>
                            <button
                                class="btn btn-primary btn-search text-white btn-sm rounded-4 pe-4 ps-4 col-lg-2 w-100"
                            >
                                Apply
                            </button>
                        </div>
                        <!-- Mock Job Details -->

                        <!-- Pagination -->
                        <div
                            class="d-flex justify-content-center"
                            v-if="jobSearchPage"
                        >
                            <button
                                class="page-buttons btn-search btn btn-primary"
                                v-for="pageNumber in totalPages"
                                :key="pageNumber"
                                :class="{ 'active': currentPage === pageNumber }"
                                @click="setPage(pageNumber)"
                            >
                                {{ pageNumber }}
                            </button>
                        </div>
                        <!-- Pagination -->
                    </div>
                </div>
                <!-- Main section -->
            </div>
            <!-- Main container -->
        </div>
        <script src="vendors/vue.global.js"></script>
        <script src="vendors/bootstrap-5.3.0-alpha2-dist/js/bootstrap.js"></script>
        <script type="module" src="js/app.js"></script>
    </body>
</html>
